html,
body,
div,
ul,
li,
p
{
    font-family: '微软雅黑';
    font-weight: 700;

    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}
li,
div
{
    box-sizing: border-box;
}
@media screen(width: 300px)
{
    .button
    {
        position: absolute;
        right: -30px;

        width: 30px;
        height: inherit;

        background-color: rgba(255,255,255,1);
    }
    .slide_banner
    {
        position: fixed;
        left: -301px;

        width: 300px;
        height: 100%;

        -webkit-transition: all .5s .1s;
             -o-transition: all .5s .1s;
                transition: all .5s .1s;

        border-bottom: 1px solid rgba(0,0,0,.2);
        background-color: #fff;
    }
    .slide_menu
    {
        position: relative;

        width: 300px;
        height: 100%;

        -webkit-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;

        border-right: 1px solid rgba(0,0,0,.2);
    }
    .slide_menu > li
    {
        line-height: 60px;

        width: 300px;
        height: 60px;
        padding-left: 20px;

        cursor: pointer;
        -webkit-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;

        color: rgba(0,0,0,.5);
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-left: 3px solid rgba(0,0,0,0);
        background-color: #fff;
    }
    .slide_menu > li:hover
    {
        padding-left: 30px;

        color: rgba(56,200,164,1);
        border-left: 3px solid rgba(56,200,164,1);
    }
}
.button
{
    position: absolute;
    right: -30px;

    width: 30px;
    height: inherit;

    background-color: rgba(56,200,164,1);
}
.slide_banner
{
    position: fixed;
    left: -301px;

    width: 300px;
    height: 100%;

    -webkit-transition: all .5s .1s;
         -o-transition: all .5s .1s;
            transition: all .5s .1s;

    border-bottom: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
}
.slide_menu
{
    position: relative;

    width: 300px;
    height: 100%;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border-right: 1px solid rgba(0,0,0,.2);
}
.slide_menu > li
{
    line-height: 60px;

    width: 300px;
    height: 60px;
    padding-left: 20px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    color: rgba(0,0,0,.9);
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-left: 3px solid rgba(0,0,0,0);
    background-color: #fff;
}
.slide_menu > li:hover
{
    padding-left: 30px;

    color: rgba(56,200,164,1);
    border-left: 3px solid rgba(56,200,164,1);
}
